## gradle
/.gradle
/build

## ForgeGradle
/run

## eclipse
/.settings
/.metadata
/.classpath
/.project
/bin
*.launch

## intellij
/out
/.idea
/*.iml
/*.ipr
/*.iws

# other
eclipse
runs
run-data

repo

build/
*.ipr
run/
*.iws
out/
*.iml
.gradle/
output/
bin/
libs/

.classpath
.project
.idea/
classes/
.metadata
.vscode
.settings